@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #A3A3A3;
  --heading: #E5E5E5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading);
  letter-spacing: -0.02em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
